<div class ="ui container">
  <div class="ui segment">
    <% if @confirmed %>
      <h4 class="ui">
        Успешно потвърдихте имейла си. Моля свалете формуляра от линка долу и после го пратете на uwc.bulgaria@gmail.com
      </h4>

      <p>
        <%= link_to "Формуляр за кандидатстване", action: 'download_doc' %>
      </p>
      
      <p>
        Ако искате пак да свалите формуляра, можете винаги да се върнете тук и да въведете имейла си, той вече е потвърден.
      </p>
    <% else %>
      <h4>
        Не успяхме да потвърдим имейла Ви. Моля проверете дали сте копирали линка правилно.
      </h4>
    <% end %>
  </div>
</div>
