<div class ="ui container">
  <div class="ui segment">
    <h4 class="ui">
      <% if @error %>
        <div class="ui negative message">
          <p>
            За съжаление не успяхме да изпратим емайл на посочения от вас адрес: "<%= @email %>".
          </p>
          <p>
            <%= link_to "Моля опитате пак", action: 'index' %>
            като поправите грешката в упоменатия адрес. Ако имате проблем с този формуляр просто изпратете емайл на адрес
            <a href="mailto:uwc.bulgaria@gmail.com">uwc.bulgaria@gmail.com</a>.
          </p>
        </div>
      <% else %>
        <% if @already_sent %>
          Изглежда вече сте опитали да се регистрирате с този имейл. Все пак ви пратихме нов имейл за потвърждение. Проверете за всеки случай в Spam съобщенията си.
        <% else %>
          Пратихме имейл на <%= @user.email %>. Моля проверете пощата си и използвайте линка за потвърждение.
        <% end %>
      <% end %>
    </h4>
  </div>
</div>
